<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
				<key>dateExpires</key>
				<string>28/05/27</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CTNotificationContent.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XM67G79YA</string>
						<key>name</key>
						<string>HARSH SHAH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CTNotificationService.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XM67G79YA</string>
						<key>name</key>
						<string>HARSH SHAH</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CleverTapSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XM67G79YA</string>
						<key>name</key>
						<string>HARSH SHAH</string>
					</dict>
					<key>versionNumber</key>
					<string>7.5.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XM67G79YA</string>
						<key>name</key>
						<string>HARSH SHAH</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7XM67G79YA.com.deven.Clevertap-ios.NotificationContentDemo</string>
						<key>aps-environment</key>
						<string>development</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7XM67G79YA</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.clevertapTest</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationContentDemo.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e361ccae-29ae-4b27-9432-33aca48e6c68</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.deven.Clevertap-ios.NotificationContentDemo</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XM67G79YA</string>
						<key>name</key>
						<string>HARSH SHAH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E3C90E688672AFA006DC4DFC8A8FAC2CA6D7133</string>
						<key>dateExpires</key>
						<string>28/05/27</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>7XM67G79YA.com.deven.Clevertap-ios.NotificationService</string>
						<key>com.apple.developer.team-identifier</key>
						<string>7XM67G79YA</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.clevertapTest</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>062e85f4-724a-4964-ac29-8779ba71ce51</string>
						<key>dateExpires</key>
						<string>09/06/27</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.deven.Clevertap-ios.NotificationService</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7XM67G79YA</string>
						<key>name</key>
						<string>HARSH SHAH</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7XM67G79YA.com.deven.Clevertap-ios</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:https://ct-web-integration.netlify.app/</string>
					<string>applinks:https://google.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7XM67G79YA</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.53notificationextension</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>push.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5764f271-eebf-4b0a-9b44-948ac6c2935a</string>
				<key>dateExpires</key>
				<string>09/06/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.deven.Clevertap-ios</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7XM67G79YA</string>
				<key>name</key>
				<string>HARSH SHAH</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
